<!DOCTYPE html>
<html>
<head>
  <title>Mini Social</title>
</head>
<body>
  <div>
    <%= yield %>
  </div>
  <footer>
    <h5>There are <%= @user_count %> users and <%= count_interests %> interests</h5>
  </footer>
</body>
</html>